td {
  padding: 30px 30px 30px 30px;
  border-style: solid;
  border-color: black;
}

.O {
background: url('http://gifs.gifmania.co.il/Animated-Gifs-Animated-Letters/Animations-Animal-Letters/Images-Alphabet-Cats/Pussycat-Alphabet/kitten-o-letter.gif');
background-size: 100px 110px;
}
.X {
background: url('http://24.media.tumblr.com/64907f1cc7f873a422497087c0b84224/tumblr_mfaryn5Qgi1rl43djo1_500.gif');
background-size: 120px 100px;
}
